---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Moises Gonzalez"
	  position="Senior Software Engineer"
	  aboutMe={`Hey there! 👻`}
	  linkedin="https://www.linkedin.com/in/moises-gonzalez-56969b78/"
	  github="https://github.com/moigonzalez/"
	  profileImage="/images/me.jpg"
	/>
</BaseLayout>

<!--
	"//TO DO"
 -->